.page-enter-active,.page-leave-active {
    transition: all .4s
}

.page-enter-from,.page-leave-to {
    filter: blur(1rem);
    opacity: 0
}

.layout-enter-active,.layout-leave-active {
    transition: all .4s
}

.layout-enter-from,.layout-leave-to {
    filter: grayscale(1)
}

.logo {
    fill: #fff;
    transition: fill 80ms ease-out
}

.logo:active {
    fill: #841d1d;
    transition: fill 80ms ease-in
}

@media screen and (min-width: 1024px) {
    .logo:hover {
        fill:#841d1d;
        transition: fill 80ms ease-in
    }
}

.nav-menu__list {
    --fontSize: 8;
    --lineheight: 1;
    --computedFontSize: var(--fontSize) /var(--capitalHeight);
    --lineheightNormal: var(--ascender) + var(--descender) + var(--linegap);
    --contentArea: var(--lineheightNormal) * var(--computedFontSize);
    --distanceBottom: var(--descender);
    --distanceTop: var(--ascender) - var(--capitalHeight);
    --valign: (var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize);
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    font-family: GothamProMundfish;
    font-size: 20px;
    font-size: 11px;
    font-size: calc(var(--computedFontSize)*1px);
    justify-content: center;
    line-height: calc((var(--lineheight)*var(--fontSize) - var(--valign))*1px);
    text-align: center
}

@media screen and (min-width: 1536px) {
    .nav-menu__list {
        --fontSize:10;
        --lineheight: 1;
        --computedFontSize: var(--fontSize) /var(--capitalHeight);
        --lineheightNormal: var(--ascender) + var(--descender) + var(--linegap);
        --contentArea: var(--lineheightNormal) * var(--computedFontSize);
        --distanceBottom: var(--descender);
        --distanceTop: var(--ascender) - var(--capitalHeight);
        --valign: (var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize);
        font-size: calc(var(--computedFontSize)*1px);
        line-height: calc((var(--lineheight)*var(--fontSize) - var(--valign))*1px)
    }
}

.nav-menu__list-link {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 21px 22px 20px;
    transition: background-color 80ms ease-in;
    white-space: nowrap
}

.nav-menu__list-link:hover {
    background-color: #ffffff1a;
    transition: background-color 80ms ease-out
}

@media screen and (min-width: 1024px) {
    .nav-menu__list-link {
        padding:23px 20px 20px
    }
}

.nav-menu__list-link-active,.nav-menu__list-link-active:hover {
    background-color: #841d1d
}

.nav-menu__list-link-orange {
    color: #ebab2f;
    text-shadow: 0 0 15.2px #ebab2f
}

.nav-menu__list-item {
    text-align: center;
    text-transform: uppercase
}

.header-social-icons {
    display: flex;
    gap: 20px;
    justify-content: center
}

@media screen and (min-width: 1024px) {
    .header-social-icons {
        justify-content:flex-end
    }
}

.header-social-icons__link {
    opacity: .4;
    transition: opacity 80ms ease-in
}

.header-social-icons__link:hover {
    opacity: .7;
    transition: opacity 80ms ease-in
}

.header-social-icons__icon {
    align-items: center;
    display: flex;
    font-size: 20px;
    height: 100%;
    justify-content: center;
    -o-object-fit: contain;
    object-fit: contain;
    width: 22.5px
}

.header-lang-switch {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 12px;
    max-width: 356px
}

.header-lang-switch__item {
    height: 13px
}

.header-lang-switch__item-button {
    --fontSize: 10;
    --lineheight: 1;
    --computedFontSize: var(--fontSize) /var(--capitalHeight);
    --lineheightNormal: var(--ascender) + var(--descender) + var(--linegap);
    --contentArea: var(--lineheightNormal) * var(--computedFontSize);
    --distanceBottom: var(--descender);
    --distanceTop: var(--ascender) - var(--capitalHeight);
    --valign: (var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize);
    display: inline;
    font-size: calc(var(--computedFontSize)*1px);
    opacity: .5
}

.header-lang-switch__item-button-img {
    display: inline;
    height: 10px;
    vertical-align: calc(var(--valign)*-1px);
    width: 15px
}

.header-lang-switch__item-button-img_errored {
    visibility: hidden
}

.header-lang-switch__item-button-text {
    color: #fff;
    display: inline;
    font-weight: 400;
    margin-left: 4px;
    text-transform: uppercase;
    vertical-align: calc(var(--valign)*-1px)
}

.header-lang-switch__item-button_active {
    opacity: 1
}

.burgerbtn {
    background: none;
    border-color: transparent;
    cursor: pointer;
    height: 26px;
    width: 26px
}

.burgerbtn:focus {
    outline: none
}

.bars {
    align-items: center;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    width: 100%
}

.bar {
    background: #fff;
    height: 2px;
    width: 100%
}

.bar:not(:first-child) {
    margin-top: 8px
}

.build .bar:first-child,.build .bar:last-child {
    transition: transform .3s ease-in-out,opacity .3s ease-in-out,background .3s ease-in-out;
    transition-delay: .3s;
    will-change: opacity
}

.build .bar:nth-child(2) {
    transition: transform .3s ease-in-out,opacity .3s ease-in-out,background .3s ease-in-out;
    will-change: transform,background
}

.build .bar:nth-child(3),.build .bar:nth-child(4),.build .bar:nth-child(5) {
    background: linear-gradient(90deg,transparent 50%,#fff 0);
    margin-top: -2px;
    transition: transform .3s ease-in-out,opacity .3s ease-in-out,background .3s ease-in-out;
    will-change: transform
}

.build.open .bar:first-child,.build.open .bar:last-child {
    opacity: 0;
    transition-delay: 0s
}

.build.open .bar:nth-child(2) {
    background: linear-gradient(90deg,transparent 50%,#fff 0)
}

.build.open .bar:nth-child(2),.build.open .bar:nth-child(3),.build.open .bar:nth-child(4),.build.open .bar:nth-child(5) {
    transition-delay: .3s
}

.build.open .bar:nth-child(2) {
    transform: rotate(45deg)
}

.build.open .bar:nth-child(3) {
    transform: rotate(135deg)
}

.build.open .bar:nth-child(4) {
    transform: rotate(225deg)
}

.build.open .bar:nth-child(5) {
    transform: rotate(315deg)
}

@media screen and (min-width: 1024px) {
    .swiper-submenu {
        display:flex;
        gap: 33px
    }
}

@media screen and (min-width: 1366px) {
    .swiper-submenu {
        gap:40px
    }
}

@media screen and (min-width: 1920px) {
    .swiper-submenu {
        gap:85px
    }
}

.swiper-submenu__logo {
    display: none
}

@media screen and (min-width: 1024px) {
    .swiper-submenu__logo {
        display:block;
        opacity: 0
    }
}

.swiper-submenu__list {
    margin-left: 0
}

.swiper-submenu__list-item {
    --fontSize: 10;
    --lineheight: 1;
    --computedFontSize: var(--fontSize) /var(--capitalHeight);
    --lineheightNormal: var(--ascender) + var(--descender) + var(--linegap);
    --contentArea: var(--lineheightNormal) * var(--computedFontSize);
    --distanceBottom: var(--descender);
    --distanceTop: var(--ascender) - var(--capitalHeight);
    --valign: (var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize);
    background-color: #ffffff1a;
    border-radius: 67px;
    display: flex;
    font-size: calc(var(--computedFontSize)*1px);
    font-weight: 400;
    line-height: calc((var(--lineheight)*var(--fontSize) - var(--valign))*1px);
    margin: 5px 5px 7px 0;
    text-align: center;
    text-transform: uppercase;
    width: -moz-fit-content;
    width: fit-content
}

@media screen and (min-width: 768px) {
    .swiper-submenu__list-item {
        background:none;
        border-radius: 0;
        margin: 0
    }
}

@media screen and (min-width: 1024px) {
    .swiper-submenu__list-item {
        --fontSize:8;
        --lineheight: 1;
        --computedFontSize: var(--fontSize) /var(--capitalHeight);
        --lineheightNormal: var(--ascender) + var(--descender) + var(--linegap);
        --contentArea: var(--lineheightNormal) * var(--computedFontSize);
        --distanceBottom: var(--descender);
        --distanceTop: var(--ascender) - var(--capitalHeight);
        --valign: (var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize);
        font-size: calc(var(--computedFontSize)*1px);
        line-height: calc((var(--lineheight)*var(--fontSize) - var(--valign))*1px)
    }
}

@media screen and (min-width: 1536px) {
    .swiper-submenu__list-item {
        --fontSize:10;
        --lineheight: 1;
        --computedFontSize: var(--fontSize) /var(--capitalHeight);
        --lineheightNormal: var(--ascender) + var(--descender) + var(--linegap);
        --contentArea: var(--lineheightNormal) * var(--computedFontSize);
        --distanceBottom: var(--descender);
        --distanceTop: var(--ascender) - var(--capitalHeight);
        --valign: (var(--distanceBottom) - var(--distanceTop)) * var(--computedFontSize);
        font-size: calc(var(--computedFontSize)*1px);
        line-height: calc((var(--lineheight)*var(--fontSize) - var(--valign))*1px)
    }
}

.swiper-submenu__list-item:last-child {
    margin-right: 0
}

.swiper-submenu__list-item_active {
    background: #841d1d
}

.swiper-submenu__list-item_orange {
    color: #ebab2f;
    text-shadow: 0 0 15.2px #ebab2f
}

.swiper-submenu__list-item_orange-non-active {
    background: transparent!important;
    color: #ebab2f;
    text-shadow: 0 0 15.2px #ebab2f
}

.swiper-submenu__list-item-link {
    padding: 5px 15px 2px
}

@media screen and (min-width: 768px) {
    .swiper-submenu__list-item-link {
        padding:14px 20px 10px
    }
}

.header {
    background-color: #000;
    border-bottom: 1px solid hsla(0,0%,100%,.2);
    color: #fff;
    font-family: GothamProMundfish;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 101
}

.header__desktop {
    display: none
}

@media screen and (min-width: 1024px) {
    .header__desktop {
        display:flex
    }
}

.header__container-bottom {
    border-top: 1px solid hsla(0,0%,100%,.2)
}

.header__inner {
    justify-content: space-between;
    min-height: 67px
}

.header__inner,.header__left {
    align-items: center;
    display: flex
}

.header__left {
    gap: 40px
}

@media screen and (min-width: 1024px) {
    .header__left {
        gap:33px
    }
}

@media screen and (min-width: 1366px) {
    .header__left {
        gap:40px
    }
}

@media screen and (min-width: 1920px) {
    .header__left {
        gap:85px
    }
}

.header__controls {
    align-items: center;
    display: none;
    gap: 20px
}

@media screen and (min-width: 1024px) {
    .header__controls {
        gap:30px
    }
}

@media screen and (min-width: 1366px) {
    .header__controls {
        display:flex;
        gap: 36px
    }
}

@media screen and (min-width: 1920px) {
    .header__controls {
        gap:40px
    }
}

@media screen and (min-width: 1366px) {
    .header .burgerbtn {
        display:none
    }
}

.nuxt-icon svg {
    height: 1em;
    margin-bottom: .125em;
    vertical-align: middle;
    width: 1em
}

.nuxt-icon.nuxt-icon--fill,.nuxt-icon.nuxt-icon--fill * {
    fill: currentColor!important
}

.nuxt-icon.nuxt-icon--stroke,.nuxt-icon.nuxt-icon--stroke * {
    stroke: currentColor!important
}

.ui-button {
    align-items: center;
    border: 2px solid;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    gap: 10px;
    justify-content: center;
    line-height: 100%;
    padding: 15px 23px;
    text-transform: uppercase;
    transition-duration: 80ms;
    transition-property: background-color,border-radius,opacity;
    transition-timing-function: ease
}

@media (min-width: 1024px) {
    .ui-button:hover {
        background-color:transparent
    }
}

.ui-button span:first-child {
    padding-top: 3px
}

.ui-button__icon svg {
    height: 16px;
    margin-bottom: 0;
    width: 30px
}

.ui-button_red {
    background-color: #841d1d;
    border-color: #841d1d;
    color: #fff
}

.ui-button_red svg {
    fill: #fff
}

.ui-button_white {
    background-color: #fff;
    border-color: #fff;
    color: #000
}

.ui-button_white svg {
    fill: #000
}

@media (min-width: 1024px) {
    .ui-button_white:hover {
        color:#fff
    }

    .ui-button_white:hover svg {
        fill: #fff
    }
}

.ui-button_yellow {
    background-color: #ebab2f;
    border-color: #ebab2f;
    color: #000
}

@media (min-width: 1024px) {
    .ui-button_yellow:hover {
        color:#ebab2f
    }
}

.nav-menu {
    align-items: center;
    background-color: #000;
    background-image: url(../icons/noise.svg);
    background-repeat: repeat;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 69px;
    justify-content: flex-start;
    left: 0;
    min-height: 100dvh;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 100px;
    padding-top: var(--header-height);
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 11
}

@media screen and (min-width: 768px) {
    .nav-menu {
        gap:75px
    }
}

@media screen and (min-width: 1024px) {
    .nav-menu {
        gap:95px
    }
}

@media screen and (min-width: 1366px) {
    .nav-menu {
        display:none
    }
}

.nav-menu::-webkit-scrollbar {
    background-color: transparent;
    height: 1px;
    width: 8px
}

.nav-menu::-webkit-scrollbar-thumb {
    background-color: #841d1d;
    border-radius: 60px
}

.nav-menu__list {
    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: GothamProMundfish;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    gap: 15px;
    justify-content: center;
    line-height: normal;
    margin-top: 20px;
    text-align: center
}

@media screen and (min-width: 768px) {
    .nav-menu__list {
        margin-top:55px
    }
}

@media screen and (min-width: 1024px) {
    .nav-menu__list {
        margin-top:123px
    }
}

.nav-menu__list-link {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 21px 22px 20px;
    transition: background-color 80ms ease-in;
    white-space: nowrap
}

.nav-menu__list-link:hover {
    background-color: #ffffff1a;
    transition: background-color 80ms ease-out
}

.nav-menu__list-link-active,.nav-menu__list-link-active:hover {
    background-color: #841d1d
}

.nav-menu__list-link-orange {
    color: #ebab2f;
    text-shadow: 0 0 15.2px #ebab2f
}

.nav-menu__list-item {
    text-align: center;
    text-transform: uppercase
}

.nav-menu__gradient {
    background-image: url(../images/header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    filter: blur(130px);
    height: 100%;
    opacity: .8;
    position: absolute;
    right: -30%;
    transform: rotate(20deg);
    width: 100%;
    z-index: -1
}

@media screen and (min-width: 768px) {
    .nav-menu__gradient {
        bottom:-30%;
        right: -10%
    }
}

.error-page {
    background: 50%/cover url(../images/error-bg.png) no-repeat;
    height: 100vh
}

.error-page__content-block {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    justify-content: center
}

.error-page__content-block__icon svg {
    height: 100%;
    width: 100%
}

.error-page__content-block__text {
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase
}

@media (min-width: 1024px) {
    .error-page__content-block__text {
        font-size:32px
    }
}
