/*_pageSlug_*/
.unique-page-wrapper {
    min-height: 100dvh
}

.unique-page {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 50px;
    margin-top: var(--header-height);
    position: relative
}

.unique-page_mt {
    margin-top: 180px
}

@media screen and (min-width: 768px) {
    .unique-page {
        gap:80px;
        margin-bottom: 80px
    }
}

@media screen and (min-width: 1024px) {
    .unique-page {
        gap:100px;
        margin-bottom: 100px
    }
}

@media screen and (min-width: 1366px) {
    .unique-page {
        margin-bottom:100px
    }
}

@media screen and (min-width: 1920px) {
    .unique-page {
        gap:150px;
        margin-bottom: 100px
    }
}