.projects-page[data-v-052758a0] {
    margin-bottom: 50px;
    margin-top: 97px;
    margin-top: var(--header-height)
}

@media screen and (min-width: 768px) {
    .projects-page[data-v-052758a0] {
        margin-bottom:80px
    }
}

@media screen and (min-width: 1024px) {
    .projects-page[data-v-052758a0] {
        margin-bottom:145px
    }
}

@media screen and (min-width: 1366px) {
    .projects-page[data-v-052758a0] {
        margin-bottom:100px;
        margin-top: 167px
    }
}

.projects-page__wrapper[data-v-052758a0] {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px
}

@media screen and (min-width: 768px) {
    .projects-page__wrapper[data-v-052758a0] {
        gap:80px;
        margin-top: 50px
    }
}

@media screen and (min-width: 1024px) {
    .projects-page__wrapper[data-v-052758a0] {
        gap:100px;
        margin-top: 60px
    }
}

@media screen and (min-width: 1366px) {
    .projects-page__wrapper[data-v-052758a0] {
        margin-top:70px
    }
}

@media screen and (min-width: 1920px) {
    .projects-page__wrapper[data-v-052758a0] {
        margin-top:100px
    }
}

.projects-page[data-v-052758a0] .projects-form {
    margin-block:-30px}

.main-projects-page[data-v-2cb73980] {
    min-height: 100dvh
}
